body {
    padding: 0;
    margin: 0;
  }
  
body,html {
    height: 100%;
  }
  
#map, #global_map {
      height: 600px;
      width: 1000px;
  }

.leaflet-popup-content {
    text-align: center;
  }
  
  /* CSS from the Leaflet-Choropleth documentation */
.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  
.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  
.legend .min {
    float: left;
    padding-bottom: 5px;
  }
  
.legend .max {
    float: right;
  }
  
h1 {
    text-align: center;
  }
  
table, th, td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    padding: 50px;
    text-align: center;

  }
th { color: "light blue";
  font-style: bold;
  }

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

/* .container-fluid {
  height: 250px;
  max-width:1170px;
  background-image: url(/Images/covid_1.jpg);
  color: white;
  font-size: 100cm;
  text-align: center;
} */

.lead {
  text-align: center;
}

.jumbotron {
  margin-left: 120px;
  background-image: url(/covid_app/Images/covid.jpg);
  text-align: center;
  font-weight: 900;
  max-width: 1600px;
}

.card-header {
  font-size: 30px;
  text-align: center;
  background-color: pink;
  max-width: 1600px;
  margin-left: 120px;
}

.card-body {
  font-size: 30px;
  text-align: center;
  max-width: 1600px;
  margin-left: 120px;
}
/* h1 {
  color: white;
  font-weight: 900;
  font-size: x-large;
} */

/* .jumbo-text {
  color:white;
} */

.col {
  font-size: 30px;
  text-align: center;
  max-width: 1600px;
}

#global_map {
  text-align: center;


} 